/* Resume / About Page */

.resume-section h1 {
  font-family: "League Spartan", sans-serif;
  margin-bottom: 25px;
}

/* Profile Section */
.profile-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 30px;
}

.profile-text {
  max-width: 800px;
}

.profile-name {
  font-size: 30px;
  font-family: "Sukar", cursive;
  font-weight: bold;
}

/* Entry Styles */
.entry-container {
  margin-bottom: 30px;
}

.entry-title {
  font-family: "Sukar", cursive;
  font-size: 26px;
  font-weight: bold;
}

.entry-subtitle {
  font-size: 14px;
  color: #b6ec78;
  margin-bottom: 8px;
}

.entry-text {
  font-size: 16px;
  margin-bottom: 8px;
}

/* Skills Section */
.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px 80px;
  max-width: 1000px;
  margin: 0 auto;
}

.skills-group h3 {
  color: #b6ec78;
  margin-bottom: 12px;
  font-size: 18px;
}

.skills-group ul {
  list-style: square;
  padding-left: 20px;
}

.skills-group li {
  margin-bottom: 8px;
  font-family: "Fira Code", monospace;
  font-size: 15px;
}


/* Divider */
.resume-section hr {
  border: none;
  border-top: 2px dashed #fff3f1;
  width: 75%;
  margin: 30px auto;
}

/* Responsive */
@media (max-width: 800px) {
  .profile-container {
    flex-direction: column;
    text-align: center;
  }

  .skills-lists {
    flex-direction: column;
  }

  .profile-name {
    font-size: 24px;
  }
}
